Package                 Version
----------------------- -------------------
absl-py                 0.11.0
astunparse              1.6.3
beautifulsoup4          4.9.3
boto3                   1.15.14
botocore                1.18.14
cachetools              4.2.1
certifi                 2020.6.20
chardet                 3.0.4
cycler                  0.10.0
Cython                  0.29.21
elasticsearch           7.9.1
faiss-cpu               1.6.5
flatbuffers             1.12
gast                    0.3.3
google-auth             1.24.0
google-auth-oauthlib    0.4.2
google-pasta            0.2.0
grpcio                  1.32.0
h5py                    2.10.0
heatmapz                0.0.4
idna                    2.10
importlib-metadata      3.4.0
jmespath                0.10.0
joblib                  0.17.0
jsonlines               1.2.0
Keras-Preprocessing     1.1.2
kiwisolver              1.3.1
lxml                    4.6.3
Markdown                3.3.3
matplotlib              3.3.3
matplotlib-venn         0.11.6
mkl-fft                 1.2.0
mkl-random              1.1.1
mkl-service             2.3.0
numpy                   1.19.2
oauthlib                3.1.0
olefile                 0.46
opt-einsum              3.3.0
pandas                  1.2.0
Pillow                  7.2.0
pip                     20.3.3
protobuf                3.13.0
pyasn1                  0.4.8
pyasn1-modules          0.2.8
pyjnius                 1.3.0
pyparsing               2.4.7
pyserini                0.10.1.0
python-dateutil         2.8.1
pytorch-pretrained-bert 0.6.2
pytrec-eval             0.5
pytz                    2020.5
rank-bm25               0.2.1
regex                   2020.9.27
requests                2.24.0
requests-oauthlib       1.3.0
rsa                     4.7
s3transfer              0.3.3
scikit-learn            0.23.2
scipy                   1.5.3
seaborn                 0.11.0
setuptools              51.1.2.post20210110
six                     1.15.0
soupsieve               2.2.1
tensorboard             2.4.1
tensorboard-plugin-wit  1.8.0
tensorboardX            1.8
tensorflow              2.4.1
tensorflow-estimator    2.4.0
termcolor               1.1.0
threadpoolctl           2.1.0
torch                   1.0.0
torchvision             0.2.1
tornado                 6.1
tqdm                    4.31.1
typing-extensions       3.7.4.3
urllib3                 1.25.10
Werkzeug                1.0.1
wheel                   0.36.2
wrapt                   1.12.1
zipp                    3.4.0
